# Stock Ticker - Price to Tweet Comparison
Dashboard Reconstruction | View on [Tableau](https://public.tableau.com/views/StockTweets/Dashboard1?:language=en-US&:display_count=n&:origin=viz_share_link)
## Inspiration
[Wealth of the World](https://public.tableau.com/app/profile/ken.flerlage/viz/WealthoftheWorld/WealthvPopulation) Tableau Dashboard, by [Ken Flerlage](https://www.linkedin.com/in/kennethflerlage)
## Data
Stock Tweets for Sentiment Analysis and Prediction, compiled by [Hanna Yukhymenko](https://www.linkedin.com/in/hanna-yukhymenko/) from [Kaggle](https://www.kaggle.com/datasets/equinxx/stock-tweets-for-sentiment-analysis-and-prediction?select=stock_yfinance_data.csv)

In [3]:
# library for downloading data from kaggle
import opendatasets as od

# data reading, cleaning and manipulation
import pandas as pd

# show all columns
pd.set_option('display.max_columns', None)

# directory mmgmt
import os

In [11]:
# downloading data from kaggle
url_stock_tweets = 'https://www.kaggle.com/datasets/equinxx/stock-tweets-for-sentiment-analysis-and-prediction?select=stock_tweets.csv'
url_stock_prices = 'https://www.kaggle.com/datasets/equinxx/stock-tweets-for-sentiment-analysis-and-prediction?select=stock_yfinance_data.csv'

od.download(url_stock_tweets)
od.download(url_stock_prices)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: stephaniejones78
Your Kaggle Key: ········
Downloading stock-tweets-for-sentiment-analysis-and-prediction.zip to ./stock-tweets-for-sentiment-analysis-and-prediction

100%|██████████| 6.59M/6.59M [00:00<00:00, 12.7MB/s]

Skipping, found downloaded files in "./stock-tweets-for-sentiment-analysis-and-prediction" (use force=True to force download)

In [13]:
# verifying files in directory
os.listdir()

['stock-tweets-for-sentiment-analysis-and-prediction',
 '.DS_Store',
 'Untitled.ipynb',
 '.ipynb_checkpoints']

In [14]:
# renaming directory
os.rename('stock-tweets-for-sentiment-analysis-and-prediction', 'data')

In [16]:
# getting csv file names
os.listdir('data')

['stock_yfinance_data.csv', 'stock_tweets.csv']

In [48]:
# saving and formatting tweet data
df_tweets = pd.read_csv('data/'+os.listdir('data')[1]).groupby(['Company Name', 'Stock Name']).count()\
    .reset_index().iloc[:, :-1]\ 
    .rename(columns = {'Company Name':'company', 'Stock Name':'ticker', 'Date':'tweet_cnt'})\
    .sort_values(by = 'tweet_cnt', ascending = False)\
    .reset_index(drop = True)

df_tweets

                                              company ticker  tweet_cnt
0                                         Tesla, Inc.   TSLA      37422
1   Taiwan Semiconductor Manufacturing Company Lim...    TSM      11034
2                                          Apple Inc.   AAPL       5056
3                                    Amazon.com, Inc.   AMZN       4089
4                            Procter & Gamble Company     PG       4089
5                               Microsoft Corporation   MSFT       4089
6                                            NIO Inc.    NIO       3021
7                                Meta Platforms, Inc.   META       2751
8                        Advanced Micro Devices, Inc.    AMD       2227
9                                       Netflix, Inc.   NFLX       1727
10                                      Alphabet Inc.   GOOG       1291
11                              PayPal Holdings, Inc.   PYPL        843
12                            The Walt Disney Company    DIS        635
13                                 The Boeing Company     BA        399
14                       Costco Wholesale Corporation   COST        393
15                                  Intel Corporation   INTC        315
16                              The Coca-Cola Company     KO        310
17                                   Salesforce, Inc.    CRM        233
18                                         XPeng Inc.   XPEV        225
19                               Enphase Energy, Inc.   ENPH        216
20                                      Zscaler, Inc.     ZS        193
21                        Verizon Communications Inc.     VZ        123
22                                    Blackstone Inc.     BX         50
23                                 Ford Motor Company      F         31
24                       Northrop Grumman Corporation    NOC         31

In [55]:
df_tweets['tweet_pct'] = df_tweets.tweet_cnt/df_tweets.tweet_cnt.sum()
df_tweets

,company,ticker,tweet_cnt,tweet_pct
0,"Tesla, Inc.",TSLA,37422,0.463184
1,Taiwan Semiconductor Manufacturing Company Lim...,TSM,11034,0.136571
2,Apple Inc.,AAPL,5056,0.062580
3,"Amazon.com, Inc.",AMZN,4089,0.050611
4,Procter & Gamble Company,PG,4089,0.050611
5,Microsoft Corporation,MSFT,4089,0.050611
6,NIO Inc.,NIO,3021,0.037392
7,"Meta Platforms, Inc.",META,2751,0.034050
8,"Advanced Micro Devices, Inc.",AMD,2227,0.027564
9,"Netflix, Inc.",NFLX,1727,0.021376
10,Alphabet Inc.,GOOG,1291,0.015979
11,"PayPal Holdings, Inc.",PYPL,843,0.010434
12,The Walt Disney Company,DIS,635,0.007860
13,The Boeing Company,BA,399,0.004939
14,Costco Wholesale Corporation,COST,393,0.004864
15,Intel Corporation,INTC,315,0.003899
16,The Coca-Cola Company,KO,310,0.003837
17,"Salesforce, Inc.",CRM,233,0.002884
18,XPeng Inc.,XPEV,225,0.002785
19,"Enphase Energy, Inc.",ENPH,216,0.002673
20,"Zscaler, Inc.",ZS,193,0.002389
21,Verizon Communications Inc.,VZ,123,0.001522
22,Blackstone Inc.,BX,50,0.000619
23,Ford Motor Company,F,31,0.000384
24,Northrop Grumman Corporation,NOC,31,0.000384

In [82]:
df_prices = pd.read_csv('data/'+os.listdir('data')[0])[['Stock Name', 'Close']]\
    .groupby(['Stock Name']).agg(['mean'])\
    .reset_index().droplevel(level=0, axis=1)\
    .rename(columns = {'':'ticker'})\
    .sort_values(by = 'mean', ascending = False)\
    .reset_index(drop = True)

df_prices

   ticker        mean
0    COST  516.011428
1     NOC  429.719167
2    NFLX  377.139484
3    TSLA  299.864947
4    MSFT  290.387183
5    META  235.240993
6      ZS  225.872103
7     CRM  211.352500
8    ENPH  204.116270
9      BA  178.679207
10   AAPL  158.642341
11     PG  149.307024
12   AMZN  144.572167
13   PYPL  132.251191
14    DIS  131.368690
15   GOOG  127.730480
16     BX  115.165437
17    AMD  108.320952
18    TSM  102.432659
19     KO   60.470357
20     VZ   50.102698
21   INTC   44.591270
22   XPEV   32.069087
23    NIO   24.745873
24      F   16.287103

In [84]:
df_prices['mean_pct'] = df_prices['mean']/df_prices['mean'].sum()
df_prices

   ticker        mean  mean_pct
0    COST  516.011428  0.118177
1     NOC  429.719167  0.098414
2    NFLX  377.139484  0.086372
3    TSLA  299.864947  0.068675
4    MSFT  290.387183  0.066504
5    META  235.240993  0.053875
6      ZS  225.872103  0.051729
7     CRM  211.352500  0.048404
8    ENPH  204.116270  0.046747
9      BA  178.679207  0.040921
10   AAPL  158.642341  0.036332
11     PG  149.307024  0.034194
12   AMZN  144.572167  0.033110
13   PYPL  132.251191  0.030288
14    DIS  131.368690  0.030086
15   GOOG  127.730480  0.029253
16     BX  115.165437  0.026375
17    AMD  108.320952  0.024808
18    TSM  102.432659  0.023459
19     KO   60.470357  0.013849
20     VZ   50.102698  0.011474
21   INTC   44.591270  0.010212
22   XPEV   32.069087  0.007344
23    NIO   24.745873  0.005667
24      F   16.287103  0.003730

In [87]:
df = df_tweets.merge(df_prices)
df

,company,ticker,tweet_cnt,tweet_pct,mean,mean_pct
0,"Tesla, Inc.",TSLA,37422,0.463184,299.864947,0.068675
1,Taiwan Semiconductor Manufacturing Company Lim...,TSM,11034,0.136571,102.432659,0.023459
2,Apple Inc.,AAPL,5056,0.062580,158.642341,0.036332
3,"Amazon.com, Inc.",AMZN,4089,0.050611,144.572167,0.033110
4,Procter & Gamble Company,PG,4089,0.050611,149.307024,0.034194
5,Microsoft Corporation,MSFT,4089,0.050611,290.387183,0.066504
6,NIO Inc.,NIO,3021,0.037392,24.745873,0.005667
7,"Meta Platforms, Inc.",META,2751,0.034050,235.240993,0.053875
8,"Advanced Micro Devices, Inc.",AMD,2227,0.027564,108.320952,0.024808
9,"Netflix, Inc.",NFLX,1727,0.021376,377.139484,0.086372
10,Alphabet Inc.,GOOG,1291,0.015979,127.730480,0.029253
11,"PayPal Holdings, Inc.",PYPL,843,0.010434,132.251191,0.030288
12,The Walt Disney Company,DIS,635,0.007860,131.368690,0.030086
13,The Boeing Company,BA,399,0.004939,178.679207,0.040921
14,Costco Wholesale Corporation,COST,393,0.004864,516.011428,0.118177
15,Intel Corporation,INTC,315,0.003899,44.591270,0.010212
16,The Coca-Cola Company,KO,310,0.003837,60.470357,0.013849
17,"Salesforce, Inc.",CRM,233,0.002884,211.352500,0.048404
18,XPeng Inc.,XPEV,225,0.002785,32.069087,0.007344
19,"Enphase Energy, Inc.",ENPH,216,0.002673,204.116270,0.046747
20,"Zscaler, Inc.",ZS,193,0.002389,225.872103,0.051729
21,Verizon Communications Inc.,VZ,123,0.001522,50.102698,0.011474
22,Blackstone Inc.,BX,50,0.000619,115.165437,0.026375
23,Ford Motor Company,F,31,0.000384,16.287103,0.003730
24,Northrop Grumman Corporation,NOC,31,0.000384,429.719167,0.098414

In [88]:
df.to_csv('ticker_data.csv')